[submodule "evmjit"]
	path = evmjit
	url = https://github.com/caballa/evmjit
	branch = master
[submodule "test/tests"]
	path = test/jsontests
	url = https://github.com/ethereum/tests.git
[submodule "hera"]
	path = hera
	url = https://github.com/ewasm/hera
